body {
    border: 2px solid white;
    padding: 35px;
    background-image: url(image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 20px;
}

#bg-shade {
    background-color: rgba(0,0,0,0.8);  
}

input {
    width: 10rem;
    border: 2px solid white;
    font-size: 2rem;
}

footer {
    background-color: rgba(0,0,0,0.8);
}
