<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="static/fal.css">
</head>
<body>
    <div>
        <a id="home" href="/">Home</a>
        <h1>Fal e Hafez</h1>
        <p class="about_text">
            In the Persian tradition, whenever someone has a general question, or faces a difficulty or just want to hear a word of wisdom, She/He would hold that question or matter in mind, and then ask Hafez for guidance.
            Hefez is known to give you answer through his layered poems, each poem reflecting different answer for each person.  
            <br>
            I have so many memories listening to my father and mother reading Hafez for me.
            <br> 
            Hafez has a dear place in my heart. Because of that I designed this app to provide easy access for both Farsi and English speaking people to enjoy Hafez poems.
            <br>
            <br>
            Bahar

        </p>
    </div>
</body>
</html>