{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
    <div>  
        <h1>Fal e Hafiz</h1>
        <p class="about_text">
            In the Persian tradition, whenever someone has a general question, or faces a difficulty or just want to hear a word of wisdom, She/He would hold that question or matter in mind, and then ask Hafiz for guidance.
            Hefiz is known to give you answer through his layered poems, each poem reflecting different answer for each person.  
            <br>
            I have so many memories listening to my father and mother reading Hafiz for me.
            <br> 
            Hafiz has a dear place in my heart. Because of that I designed this app to provide easy access for both Farsi and English speaking people to enjoy Hafiz poems.
            <br>
            <br>
            Bahar

        </p>
    </div>
{% endblock %}