{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
    <div id="main_page">
        <form id="myBtn" method="get" action="/poem">
        <button type="submit" class="btn btn-primary btn-lg">Ask Hafez</button>
    </div>
    <div class="card-footer bg-transparent border-light text-muted">
        <div class="row justify-content-center">
            <div class="col-6">
                Source: www.hafizonlove.com            
            </div>
            <div class="col-5 text-right">
                Photo: Mario Cruz on Unsplash
            </div>
        </div>      
    </div>
{% endblock %}