{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
    <div id="main_page" class="container-sm">
        <div class="row justify-content-center">
            <h3 id="main_page_title">To try the guidance of Hafez hold a question in your mind and click on the button below to have your Fal:
            </h3>
        </div>
        <form method="get" action="/poem" class="row justify-content-center">
        <button id="myBtn" type="submit" class="btn btn-info btn-lg mx-auto">Ask Hafez</button>
    </div>
    <div class="card-footer bg-transparent border-light text-muted">
        <div class="row justify-content-center">
            <div>
                Source: www.hafizonlove.com            
            <br>
                Photo: Mario Cruz on Unsplash
            </div>
        </div>      
    </div>
{% endblock %}