<!DOCTYPE html>
<html>
<head>
    <script
        src="https://code.jquery.com/jquery-3.4.0.js"
        integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="static/fal.css">
</head>
<body>
    <div id="main_page">
        <form id="myBtn" method="get" action="/poem">
        <h1>Ask Hafez</h1>

        <input type="submit" value="Ask" id="myBtn">

        <script type="text/javascript" src="../static/fal.js"></script>
    </div>
    <footer>Photo by Mario Cruz on Unsplash</footer>
</body>
</html>